In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../Assets/Resources/Weather_Data.csv")

In [3]:
df_data = df_data.drop("Unnamed: 0", axis=1)

In [4]:
df_data.head()

,City,Lat,Lng,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,Dikson,73.51,80.55,30.72,94,100,20.83,RU,1602798371
1,Hithadhoo,-0.60,73.08,82.31,75,97,20.09,MV,1602798372
2,Moerai,-22.43,-151.33,72.18,84,88,18.54,PF,1602798372
3,George Town,5.41,100.34,77.00,88,40,8.05,MY,1602798243
4,Punta Arenas,-53.15,-70.92,51.80,53,75,34.45,CL,1602798373

In [5]:
df_data.to_html("Latitude_Data.html")